body {
    margin-top: 0px;
}

.container {
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}
.container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.hoverClick:hover {
    cursor:pointer
}

/* TODO: Add all the custom fonting from the file and fit accordingly */
@font-face {
    font-family: Athletics;
    src: url("../fonts/Athletics-Medium.otf");
}