body {
    margin-top: 0px;
}

html,
body {
    height: 100%;
    overflow: auto;
    background-color: white;
}

.container {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.hoverClick:hover {
    cursor: pointer
}

/* TODO: Add all the custom fonting from the file and fit accordingly */
@font-face {
    font-family: 'Athletics';
    src: url("../fonts/Athletics-Medium.otf");
    font-weight: 400;
}

@font-face {
    font-family: 'Athletics';
    src: url("../fonts/Athletics-Bold.otf");
    font-weight: 800;
}

@font-face {
    font-family: 'PayPalBig';
    src: url("../fonts/PayPalBig-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: 'PayPalBig';
    src: url("../fonts/PayPalBig-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: 'PayPalBig';
    src: url("../fonts/PayPalBig-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'PayPalBig';
    src: url("../fonts/PayPalBig-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'PayPalBig';
    src: url("../fonts/PayPalBig-Bold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: 'PayPalSmall';
    src: url("../fonts/PayPalSmall-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: 'PayPalSmall';
    src: url("../fonts/PayPalSmall-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: 'PayPalSmall';
    src: url("../fonts/PayPalSmall-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'PayPalSmall';
    src: url("../fonts/PayPalSmall-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'PayPalSmall';
    src: url("../fonts/PayPalSmall-Bold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url("../fonts/RobotoCondensed-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: 'PayPalSansBig';
    src: url("../fonts/PayPalSansBig-Thin.otf");
    font-weight: 100;
}

@font-face {
    font-family: 'PayPalSansBig';
    src: url("../fonts/PayPalSansBig-Light.otf");
    font-weight: 200;
}

@font-face {
    font-family: 'PayPalSansBig';
    src: url("../fonts/PayPalSansBig-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: 'PayPalSansBig';
    src: url("../fonts/PayPalSansBig-Medium.otf");
    font-weight: 600;
}

@font-face {
    font-family: 'PayPalSansBig';
    src: url("../fonts/PayPalSansBig-Bold.otf");
    font-weight: 800;
}

@font-face {
    font-family: 'PayPalSansSmall';
    src: url("../fonts/PayPalSansSmall-Light.otf");
    font-weight: 200;
}

@font-face {
    font-family: 'PayPalSansSmall';
    src: url("../fonts/PayPalSansSmall-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: 'PayPalSansSmall';
    src: url("../fonts/PayPalSansSmall-Medium.otf");
    font-weight: 600;
}

@font-face {
    font-family: 'PayPalSansSmall';
    src: url("../fonts/PayPalSansSmall-Bold.otf");
    font-weight: 800;
}

@font-face {
    font-family: 'SctoGroteskA';
    src: url("../fonts/SctoGroteskA-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: 'SctoGroteskA';
    src: url("../fonts/SctoGroteskA-Medium.otf");
    font-weight: 600;
}

@font-face {
    font-family: 'SctoGroteskA';
    src: url("../fonts/SctoGroteskA-Bold.otf");
    font-weight: 800;
}

/* Custom Icons */
.private-icon {
    background: url('../images/Private.png');
    height: 22px;
    width: 69px;
    display: inline-block;
    background-size: cover;
}